<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProyectoFinalDeCurso.Properties.Settings.Servicios_de_mantenimientoConnectionString"
      connectionString="Data Source=DESKTOP-78GVLJB\SQLSERVER;Initial Catalog=Servicios_de_mantenimiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProyectoFinalDeCurso.Properties.Settings.Servicio_de_MantenimientoConnectionString"
      connectionString="Data Source=DESKTOP-78GVLJB\SQLSERVER;Initial Catalog=Servicio_de_Mantenimiento;Persist Security Info=True;User ID=Jeison;Password=Jeison.2020"
      providerName="System.Data.SqlClient" />
    <add name="ProyectoFinalDeCurso.Properties.Settings.Servicio_de_MantenimientoConnectionString1"
      connectionString="Data Source=.;Initial Catalog=Servicio_de_Mantenimiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>