USE [master]
GO
/****** Object:  Database [Servicios_de_mantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
CREATE DATABASE [Servicios_de_mantenimiento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Servicios_de_mantenimiento', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Servicios_de_mantenimiento.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Servicios_de_mantenimiento_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Servicios_de_mantenimiento_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Servicios_de_mantenimiento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Servicios_de_mantenimiento]
GO
/****** Object:  User [Luisao]    Script Date: 2/24/2023 12:22:14 AM ******/
CREATE USER [Luisao] FOR LOGIN [Bodeguero] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [JaviRo]    Script Date: 2/24/2023 12:22:14 AM ******/
CREATE USER [JaviRo] FOR LOGIN [Jefe_Mecanico] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Derian34]    Script Date: 2/24/2023 12:22:14 AM ******/
CREATE USER [Derian34] FOR LOGIN [Vendedor] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AdminMantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
CREATE USER [AdminMantenimiento] FOR LOGIN [AdminMantenimiento] WITH DEFAULT_SCHEMA=[AdminMantenimiento]
GO
/****** Object:  Schema [AdminMantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
CREATE SCHEMA [AdminMantenimiento]
GO
/****** Object:  UserDefinedFunction [dbo].[Suma_Servicios]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Suma_Servicios](@IdMantenimiento int)
RETURNS money
AS
BEGIN
DECLARE @Suma money
SET @Suma = (SELECT SUM(dm.Precio) FROM Detalle_Mantenimiento dm WHERE dm.IdMantenimiento = @IdMantenimiento)
RETURN @Suma
END
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Primer Nombre] [varchar](50) NOT NULL,
	[Segundo Nombre] [varchar](50) NULL,
	[Primer Apellido] [varchar](50) NOT NULL,
	[Segundo Apellido] [varchar](50) NULL,
	[Telefono] [varchar](40) NULL,
	[Correo] [varchar](60) NULL,
	[Direccion] [varchar](60) NULL,
	[Estado] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehículo]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehículo](
	[IdVehículo] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Marca] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Año] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehículo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DimVehículoActualizado]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DimVehículoActualizado]
as
select v.IdVehículo,
v.Marca,
v.Modelo,
c.[Primer Nombre] + ' ' + c.[Primer Apellido] as [Nombre Cliente] 
from Vehículo v
inner join Cliente c
on v.IdCliente = c.IdCliente
GO
/****** Object:  Table [dbo].[Mantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimiento](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdVehículo] [int] NOT NULL,
	[Fecha_Ingreso] [date] NOT NULL,
	[Fecha_Salida] [date] NOT NULL,
	[Estado] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DimFecha]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DimFecha]
as 
select distinct m.Fecha_Ingreso,
YEAR(m.Fecha_Ingreso) as Año,
MONTH(m.Fecha_Ingreso) as NoMes,
DAY(m.Fecha_Ingreso) as NoDía,
DATEPART(qq, m.Fecha_Ingreso) as Trimestre
from Mantenimiento m
GO
/****** Object:  Table [dbo].[Mecánico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mecánico](
	[IdMecánico] [int] IDENTITY(1,1) NOT NULL,
	[Primer Nombre] [varchar](50) NOT NULL,
	[Segundo Nombre] [varchar](50) NULL,
	[Primer Apellido] [varchar](50) NOT NULL,
	[Segundo Apellido] [varchar](50) NULL,
	[Especialidad] [varchar](50) NULL,
	[Telefono] [varchar](40) NULL,
	[Correo] [varchar](60) NULL,
	[Salario] [money] NULL,
	[Direccion] [varchar](60) NULL,
	[Estado] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMecánico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DimMecánico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[DimMecánico]
as
select m.IdMecánico,
m.[Primer Nombre] + ' ' + m.[Primer Apellido] as [Nombre de Mecánico],
m.Salario,
m.Especialidad,
m.Estado
from Mecánico m
GO
/****** Object:  Table [dbo].[Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repuesto](
	[IdRepuesto] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[Cantidad] [int] NULL,
	[Precio] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRepuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DimRepuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DimRepuesto]
as
select * from Repuesto
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripción] [varchar](50) NULL,
	[Precio] [float] NULL,
	[Tipo_Mantenimiento] [varchar](50) NULL,
	[Estado] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Mantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Mantenimiento](
	[IdDetalle_Mantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdMantenimiento] [int] NOT NULL,
	[IdMecánico] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
	[Precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle_Mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Repuesto](
	[IdDetalle_Repuesto] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalle_Mantenimiento] [int] NULL,
	[IdRepuesto] [int] NULL,
	[Cantidad] [int] NULL,
	[Autorizacion] [char](2) NULL,
	[IdProveedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle_Repuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FactMateniminto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[FactMateniminto]
as
select m.IdMantenimiento as [No Factura],
c.[Primer Nombre] + ' ' + c.[Primer Apellido] as [Cliente],
v.Marca + ' ' + v.Modelo as [Vehículo],
m.Fecha_Ingreso as [Fecha de Ingreo],
m.Fecha_Salida as [Fecha de Salida],
COUNT(dm.IdDetalle_Mantenimiento) as [Cantidad de Servicios],
(select COUNT(*) from Detalle_Repuesto dr
where dr.IdDetalle_Mantenimiento = dm.IdDetalle_Mantenimiento) as [Cantidad de Respuestos],
dm.Precio as [Precio Total]
from Detalle_Mantenimiento dm
inner join Mantenimiento m
on m.IdMantenimiento = dm.IdMantenimiento
inner join Vehículo v
on m.IdVehículo = v.IdVehículo
inner join Cliente c
on c.IdCliente = v.IdCliente
inner join Mecánico me
on dm.IdMecánico = me.IdMecánico
inner join Servicio s
on dm.IdServicio = s.IdServicio
group by
m.IdVehículo,
v.Marca,
v.Modelo,
c.[Primer Nombre],
c.[Primer Apellido],
m.Fecha_Ingreso,
m.Fecha_Salida,
m.IdMantenimiento,
dm.IdDetalle_Mantenimiento,
c.IdCliente,
dm.IdMecánico,
dm.IdServicio,
dm.Precio
GO
/****** Object:  Table [dbo].[Colaborador]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colaborador](
	[IdColaborador] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[PrimerNombre] [varchar](30) NULL,
	[SegundoNombre] [varchar](30) NULL,
	[PrimerApellido] [varchar](30) NULL,
	[SegundoApellido] [varchar](30) NULL,
	[Direccion] [varchar](80) NULL,
	[Telefono] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColaborador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Primer Nombre] [varchar](50) NOT NULL,
	[Segundo Nombre] [varchar](50) NULL,
	[Primer Apellido] [varchar](50) NOT NULL,
	[Segundo Apellido] [varchar](50) NULL,
	[Telefono] [varchar](40) NULL,
	[Correo] [varchar](60) NULL,
	[Estado] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recibo]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibo](
	[No_Recibo] [int] IDENTITY(1,1) NOT NULL,
	[IDMantenimiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[No_Recibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](max) NOT NULL,
	[Rol] [varchar](50) NULL,
	[Estado] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Telefono], [Correo], [Direccion], [Estado]) VALUES (1, N'Juan', N'José', N'Barrios', N'Canales', N'82181557', N'juanj@gmail.com', N'Managua', N'Habilitado')
INSERT [dbo].[Cliente] ([IdCliente], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Telefono], [Correo], [Direccion], [Estado]) VALUES (2, N'Joel', N'Antonio', N'Barrios', N'Mendóza', N'51455223', N'jbarrios@gmail.com', N'Masaya', N'Habilitado')
INSERT [dbo].[Cliente] ([IdCliente], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Telefono], [Correo], [Direccion], [Estado]) VALUES (3, N'Alejandor', N'', N'Alvarado', N'Pérez', N'57844551', N'aalvarop@gmail.com', N'Rivas', N'Habilitado')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Colaborador] ON 

INSERT [dbo].[Colaborador] ([IdColaborador], [IdUsuario], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Direccion], [Telefono]) VALUES (1, 1, N'Juan', N'Enrique', N'Bladon', N'Gomez', N'Managua', N'655763456')
INSERT [dbo].[Colaborador] ([IdColaborador], [IdUsuario], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Direccion], [Telefono]) VALUES (2, 2, N'Javier', N'Iker', N'Rodriguez', N'Arauz', N'Masaya', N'855578456')
INSERT [dbo].[Colaborador] ([IdColaborador], [IdUsuario], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Direccion], [Telefono]) VALUES (3, 3, N'Derian', N'Samir', N'Suarez', N'Largaespada', N'Managua', N'955723456')
SET IDENTITY_INSERT [dbo].[Colaborador] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Mantenimiento] ON 

INSERT [dbo].[Detalle_Mantenimiento] ([IdDetalle_Mantenimiento], [IdMantenimiento], [IdMecánico], [IdServicio], [Precio]) VALUES (1, 1, 1, 1, 2700)
INSERT [dbo].[Detalle_Mantenimiento] ([IdDetalle_Mantenimiento], [IdMantenimiento], [IdMecánico], [IdServicio], [Precio]) VALUES (2, 1, 2, 1, 2900)
INSERT [dbo].[Detalle_Mantenimiento] ([IdDetalle_Mantenimiento], [IdMantenimiento], [IdMecánico], [IdServicio], [Precio]) VALUES (3, 1, 1, 2, 2000)
SET IDENTITY_INSERT [dbo].[Detalle_Mantenimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Repuesto] ON 

INSERT [dbo].[Detalle_Repuesto] ([IdDetalle_Repuesto], [IdDetalle_Mantenimiento], [IdRepuesto], [Cantidad], [Autorizacion], [IdProveedor]) VALUES (1, 1, 1, 1, N'si', 2)
INSERT [dbo].[Detalle_Repuesto] ([IdDetalle_Repuesto], [IdDetalle_Mantenimiento], [IdRepuesto], [Cantidad], [Autorizacion], [IdProveedor]) VALUES (2, 2, 2, 1, N'no', 4)
INSERT [dbo].[Detalle_Repuesto] ([IdDetalle_Repuesto], [IdDetalle_Mantenimiento], [IdRepuesto], [Cantidad], [Autorizacion], [IdProveedor]) VALUES (3, 3, 3, 1, N'no', 3)
SET IDENTITY_INSERT [dbo].[Detalle_Repuesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Mantenimiento] ON 

INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [IdVehículo], [Fecha_Ingreso], [Fecha_Salida], [Estado]) VALUES (1, 1, CAST(N'2020-03-03' AS Date), CAST(N'2020-03-03' AS Date), N'Reparado')
INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [IdVehículo], [Fecha_Ingreso], [Fecha_Salida], [Estado]) VALUES (2, 2, CAST(N'2020-11-12' AS Date), CAST(N'2020-11-13' AS Date), N'Reparado')
INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [IdVehículo], [Fecha_Ingreso], [Fecha_Salida], [Estado]) VALUES (3, 3, CAST(N'2020-12-23' AS Date), CAST(N'2020-12-23' AS Date), N'Reparado')
SET IDENTITY_INSERT [dbo].[Mantenimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Mecánico] ON 

INSERT [dbo].[Mecánico] ([IdMecánico], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Especialidad], [Telefono], [Correo], [Salario], [Direccion], [Estado]) VALUES (1, N'Juan', N'Carlos', N'Villanueva', N'Ortiz', N'Sistema Eléctrico', N'82181554', N'juanjc@gmail.com', 10000.0000, N'Managua', N'Habilitado')
INSERT [dbo].[Mecánico] ([IdMecánico], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Especialidad], [Telefono], [Correo], [Salario], [Direccion], [Estado]) VALUES (2, N'Danilo', N'José', N'Corrales', N'López', N'Sistema Refrigeración', N'82171557', N'josess@gmail.com', 12000.0000, N'Managua', N'Habilitado')
INSERT [dbo].[Mecánico] ([IdMecánico], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Especialidad], [Telefono], [Correo], [Salario], [Direccion], [Estado]) VALUES (3, N'Allan', N'', N'Zambrana', N'', N'Ayudante', N'82923522', N'zambranaall@gmail.com', 11000.0000, N'Managua', N'Habilitado')
SET IDENTITY_INSERT [dbo].[Mecánico] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Telefono], [Correo], [Estado]) VALUES (1, N'Alberto', N'Daniel', N'Ramirez', N'Cardenas', N'85694233', N'AlbertRa12@gmail.com', N'Deshabilitado')
INSERT [dbo].[Proveedor] ([IdProveedor], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Telefono], [Correo], [Estado]) VALUES (2, N'Alejandro', N'Rodrigo', N'Canales', N'Romero', N'82341256', N'Aljeandro154@gmail.com', N'Habilitado')
INSERT [dbo].[Proveedor] ([IdProveedor], [Primer Nombre], [Segundo Nombre], [Primer Apellido], [Segundo Apellido], [Telefono], [Correo], [Estado]) VALUES (3, N'Michael', N'Roberto', N'Brenes', N'Arauz', N'87831913', N'MichaelBrenesA@gmail.com', N'Habilitado')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Recibo] ON 

INSERT [dbo].[Recibo] ([No_Recibo], [IDMantenimiento]) VALUES (1, 1)
INSERT [dbo].[Recibo] ([No_Recibo], [IDMantenimiento]) VALUES (2, 2)
INSERT [dbo].[Recibo] ([No_Recibo], [IDMantenimiento]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Recibo] OFF
GO
SET IDENTITY_INSERT [dbo].[Repuesto] ON 

INSERT [dbo].[Repuesto] ([IdRepuesto], [Marca], [Modelo], [Descripcion], [Cantidad], [Precio]) VALUES (1, N'Honda', N'SS101', N'Banda de distribución', 150, 250)
INSERT [dbo].[Repuesto] ([IdRepuesto], [Marca], [Modelo], [Descripcion], [Cantidad], [Precio]) VALUES (2, N'Yamaha', N'QWA22', N'shock block', 134, 1150)
INSERT [dbo].[Repuesto] ([IdRepuesto], [Marca], [Modelo], [Descripcion], [Cantidad], [Precio]) VALUES (3, N'BOSCH', N'SLA1', N'Filtro de aceite', 298, 200)
SET IDENTITY_INSERT [dbo].[Repuesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([IdServicio], [Descripción], [Precio], [Tipo_Mantenimiento], [Estado]) VALUES (1, N'Cambio de aceite', 140, N'ORDINARIO', N'Habilitado')
INSERT [dbo].[Servicio] ([IdServicio], [Descripción], [Precio], [Tipo_Mantenimiento], [Estado]) VALUES (2, N'Cambio de Bandas del', 150, N'EXTRAORDINARIO', N'Habilitado')
INSERT [dbo].[Servicio] ([IdServicio], [Descripción], [Precio], [Tipo_Mantenimiento], [Estado]) VALUES (3, N'Mantenimiento 10000 Km', 1500, N'ORDINARIO', N'Habilitado')
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Usuario], [Contrasenia], [Rol], [Estado]) VALUES (1, N'JuanB', N'   Õ‚Ž¼¿ÉÙ÷4ˆï&(‰“‰–ówáG”$û¾ÝÆ|', N'Administrador ', N'Habilitado')
INSERT [dbo].[Usuario] ([IdUsuario], [Usuario], [Contrasenia], [Rol], [Estado]) VALUES (2, N'JaviRo', N'   ~ÄZŠ*íw° ¹[[	²@B¢VM4ÜÉüe‚…­™f', N'Jefe de Mecanico', N'Habilitado')
INSERT [dbo].[Usuario] ([IdUsuario], [Usuario], [Contrasenia], [Rol], [Estado]) VALUES (3, N'Derian34', N'   <sÙö§„;CAo,±±ò±{õ®Š9K”Ù§$', N'Vendedor', N'Habilitado')
INSERT [dbo].[Usuario] ([IdUsuario], [Usuario], [Contrasenia], [Rol], [Estado]) VALUES (4, N'Luisao', N'   zÂ5&|cãŒ(%#ûq@ék©Ç)ÃnºµA‰°
', N'Bodeguero', N'Habilitado')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehículo] ON 

INSERT [dbo].[Vehículo] ([IdVehículo], [IdCliente], [Marca], [Modelo], [Año]) VALUES (1, 1, N'Hyundai', N'Eon', 2015)
INSERT [dbo].[Vehículo] ([IdVehículo], [IdCliente], [Marca], [Modelo], [Año]) VALUES (2, 1, N'Toyota', N'Hilux', 2018)
INSERT [dbo].[Vehículo] ([IdVehículo], [IdCliente], [Marca], [Modelo], [Año]) VALUES (3, 4, N'Kia', N'Picanto', 2012)
SET IDENTITY_INSERT [dbo].[Vehículo] OFF
GO
ALTER TABLE [dbo].[Colaborador]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Detalle_Mantenimiento]  WITH CHECK ADD FOREIGN KEY([IdMantenimiento])
REFERENCES [dbo].[Mantenimiento] ([IdMantenimiento])
GO
ALTER TABLE [dbo].[Detalle_Mantenimiento]  WITH CHECK ADD FOREIGN KEY([IdMecánico])
REFERENCES [dbo].[Mecánico] ([IdMecánico])
GO
ALTER TABLE [dbo].[Detalle_Mantenimiento]  WITH CHECK ADD FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[Detalle_Repuesto]  WITH CHECK ADD FOREIGN KEY([IdDetalle_Mantenimiento])
REFERENCES [dbo].[Detalle_Mantenimiento] ([IdDetalle_Mantenimiento])
GO
ALTER TABLE [dbo].[Detalle_Repuesto]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Detalle_Repuesto]  WITH CHECK ADD FOREIGN KEY([IdRepuesto])
REFERENCES [dbo].[Repuesto] ([IdRepuesto])
GO
ALTER TABLE [dbo].[Mantenimiento]  WITH CHECK ADD FOREIGN KEY([IdVehículo])
REFERENCES [dbo].[Vehículo] ([IdVehículo])
GO
ALTER TABLE [dbo].[Recibo]  WITH CHECK ADD FOREIGN KEY([IDMantenimiento])
REFERENCES [dbo].[Mantenimiento] ([IdMantenimiento])
GO
ALTER TABLE [dbo].[Vehículo]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
/****** Object:  StoredProcedure [dbo].[Asignar_Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Asignar_Repuesto]
			@IdDetalleMantenimiento int,
			@IdRepuesto int,
			@Cantidad int
			AS
			INSERT INTO Detalle_Repuesto(IdDetalle_Mantenimiento,IdRepuesto,Cantidad)
			VALUES(@IdDetalleMantenimiento,@IdRepuesto,@Cantidad)
GO
/****** Object:  StoredProcedure [dbo].[Asignar_Servicio]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Asignar_Servicio]
			@IdMantenimiento int,
			@IdMecanico int,
			@IdServicio int
			AS
			INSERT INTO Detalle_Mantenimiento(IdMantenimiento,IdMecánico,IdServicio,Precio)
			VALUES
			(@IdMantenimiento,@IdMecanico,@IdServicio, (SELECT Precio FROM Servicio WHERE IdServicio = @IdServicio))
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Clientes]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Buscar_Clientes]
@dato varchar (50)
as
select
c.IDCliente as  [ID Cliente],
c.[Primer Nombre] as [Primer Nombre],
c.[Segundo Nombre] as [Segundo Nombre],
c.[Primer Apellido] AS [Primer Apellido],
c.[Segundo Apellido] as [Segundo Apellido],
c.Telefono as  [Nº Teléfono],
c.Correo as Correo,
c.Direccion as Dirección,
c.Estado as Estado
from Cliente c
where c.[Primer Nombre] like @dato +'%'
or c.[Segundo Nombre] like @dato +'%'
or c.[Primer Apellido] like @dato +'%'
or c.[Segundo Apellido]like @dato +'%'
-------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Mantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Buscar_Mantenimiento]
		@dato varchar(100)
		AS
		SELECT
		m.IdMantenimiento as IdMantenimiento,
		v.IdVehículo as IdVehiculo,
		c.[Primer Nombre] + ' ' + c.[Segundo Nombre] + ' ' + c.[Primer Apellido] + ' ' + c.[Segundo Apellido] as Cliente,
		v.Marca as Marca,
		v.Modelo as Modelo,
		m.Fecha_Ingreso as Entrada,
		m.Fecha_Salida as Salida,
		m.Estado as Estado
		FROM Mantenimiento m
		inner join Vehículo v
		on m.IdVehículo = v.IdVehículo
		inner join Cliente c
		on v.IdCliente = c.IdCliente
		WHERE (c.[Primer Nombre] + ' ' + c.[Segundo Nombre] + ' ' + c.[Primer Apellido] + ' ' + c.[Segundo Apellido]) like @dato + '%'
		   or c.Telefono like @dato + '%'
		   or v.Marca like @dato + '%'
		   or v.Modelo like @dato + '%'
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Mecanico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Buscar_Mecanico]
@dato varchar (50)
as
select
me.IDMecánico as  [ID Mecánico],
me.[Primer Nombre] as [Primer Nombre],
me.[Segundo Nombre] as [Segundo Nombre],
me.[Primer Apellido] AS [Primer Apellido],
me.[Segundo Apellido] as [Segundo Apellido],
me.Telefono as  [Nº Teléfono],
me.Correo as Correo,
me.Direccion as Dirección,
me.Estado as Estado
from Mecánico me
where me.[Primer Nombre] like @dato +'%'
or me.[Segundo Nombre] like @dato +'%'
or me.[Primer Apellido] like @dato +'%'
or me.[Segundo Apellido]like @dato +'%'
------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Buscar_Proveedor]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Buscar_Proveedor]
@dato varchar (60)
as
SELECT P.[IdProveedor] AS  [Id Proveedor]
      ,P.[Primer Nombre] as [Primer Nobre]
      ,P.[Segundo Nombre] as [Segundo Nombre]
      ,P.[Primer Apellido] as [Primer Apellido]
      ,P.[Segundo Apellido] as [Segund Apellido]
	  ,P.[Telefono] as Teléfono
	  ,P.Correo as Correo
	  ,P.Estado as Estado
  FROM Proveedor P
where P.[Primer Nombre] like  @dato +  '%'
or P.[Segundo Nombre] like  @dato +  '%'
or P.[Primer Apellido] like @dato + '%'
or P.[Segundo Apellido] like @dato + '%'
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Buscar_Repuesto]
@dato varchar (60)
as
SELECT V.[IDRepuesto] AS  [ID Repuesto]
      ,V.[Marca] as Marca
      ,V.[Modelo] as Modelo
      ,V.[Descripcion] as Descripción
      ,V.[Cantidad] as Cantidad
	  ,V.[Precio] as Precio
  FROM Repuesto V
where v.Marca like  @dato +  '%'
or v.Modelo like  @dato +  '%'
or v.[Cantidad] like @dato + '%'
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Servicios]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Buscar_Servicios]
@dato varchar (50)
as
select
c.IDServicio AS [ID Servicio],
c.Descripción as [Descripción],
c.Precio as [Precio],
c.Tipo_Mantenimiento  as [Tipo de Mantenimiento]
from Servicio c
where c.Descripción like @dato +'%'
or c.Precio like @dato +'%'
or c.Tipo_Mantenimiento like @dato
---------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Buscar_Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Buscar_Usuario]
	@dato varchar(100)
	as
	Select
	c.PrimerNombre Nombre,
	c.PrimerApellido as Apellido,
	c.Telefono,
	u.Rol,
	u.Estado 
	from Usuario u
	inner join Colaborador c
	on c.IdUsuario = u.IdUsuario
	where c.PrimerNombre like @dato + '%' 
	or c.PrimerApellido like @dato + '%' 
	or c.Telefono like @dato + '%' 
	or u.Rol like @dato + '%' 
	or u.Estado  like @dato + '%' 
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Vehiculo]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[Buscar_Vehiculo]
@dato as Varchar (50)
as
select 
v.IDVehículo as [ID Vehículo],
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]  as [Nombre Cliente],
v.Marca as Marca,
v.Modelo as Modelo,
v.año as Año
from Vehículo v
inner join Cliente c on c.IDCliente=v.IDCliente
where 
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido] like @dato +'%'or
v.Marca like  @dato +  '%'
or v.Modelo like  @dato +  '%'
or v.Año like @dato+ '%'
-------------------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[Cambiar_Estado_Mantenimiento_Facturado]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cambiar_Estado_Mantenimiento_Facturado]
@IdMantenimiento int
AS
IF( (SELECT Estado FROM Mantenimiento WHERE IdMantenimiento = @IdMantenimiento) = 'Completado')
UPDATE Mantenimiento SET Estado = 'Generado' WHERE IdMantenimiento = @IdMantenimiento
ELSE
SELECT 'Mantenimiento sin terminar' as Mensaje

GO
/****** Object:  StoredProcedure [dbo].[Cambiar_Estado_Mantenimiento_Generado]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cambiar_Estado_Mantenimiento_Generado]
@IdMantenimiento int
AS
IF( (SELECT Estado FROM Mantenimiento WHERE IdMantenimiento = @IdMantenimiento) = 'Completado')
UPDATE Mantenimiento SET Estado = 'Generado' WHERE IdMantenimiento = @IdMantenimiento
ELSE
SELECT 'Mantenimiento sin terminar' as Mensaje
GO
/****** Object:  StoredProcedure [dbo].[Cambiar_Estado_Servicio]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[Cambiar_Estado_Servicio] @IdServicio int
AS
IF exists (
           SELECT
		   *
		   FROM Servicio
		   WHERE IdServicio = @IdServicio and Estado = 'Habilitado'
           )
UPDATE Servicio SET
Estado = 'Deshabilitado'
WHERE IdServicio = @IdServicio
ELSE
UPDATE Servicio SET
Estado = 'Habilitado'
WHERE IdServicio = @IdServicio
GO
/****** Object:  StoredProcedure [dbo].[Cambiar_Estado_Servicio_Mantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cambiar_Estado_Servicio_Mantenimiento] @IdMantenimiento int
AS
IF exists (
           SELECT
		   *
		   FROM Mantenimiento
		   WHERE IdMantenimiento = @IdMantenimiento and Estado = 'Sin realizar'
           )
BEGIN
UPDATE Mantenimiento SET
Estado = 'Aplicando' WHERE IdMantenimiento = @IdMantenimiento
END
ELSE IF exists (SELECT
		        *
		        FROM Mantenimiento WHERE IdMantenimiento = @IdMantenimiento and Estado = 'Aplicando')
BEGIN
UPDATE Mantenimiento SET
Estado = 'Realizado' WHERE IdMantenimiento = @IdMantenimiento
END
ELSE
BEGIN
UPDATE Mantenimiento SET
Estado = 'Sin realizar' WHERE IdMantenimiento = @IdMantenimiento
END
GO
/****** Object:  StoredProcedure [dbo].[Cambiar_Estado_Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc[dbo].[Cambiar_Estado_Usuario]
		@IdUsuario int
		AS
		IF exists (
				   SELECT * FROM Usuario
				   WHERE IdUsuario = @IdUsuario and Estado = 'Habilitado'
				   )
		UPDATE Usuario SET
		Estado = 'Deshabilitado'
		WHERE IdUsuario = @IdUsuario
		ELSE
		UPDATE Usuario SET
		Estado = 'Habilitado'
		WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[Cambio_Estado_Cliente]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[Cambio_Estado_Cliente] @IdCliente int
as
Declare @Estado varchar(60)
set @Estado = (Select Estado from Cliente where
                IdCliente = @IdCliente)

				if(@Estado = 'Habilitado')
				Begin
				update Cliente set Estado = 'Deshabilitado'
				where IdCliente = @IdCliente
			    End
				Else
				Begin 
				update Cliente set Estado = 'Habilitado'
				where IdCliente = @IdCliente
				End

				--exec dbo.Cambio_Estado_Cliente 8
				--select * from Cliente
----------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Cambio_Estado_Mecanico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[Cambio_Estado_Mecanico] @IdMecanico int
as
Declare @Estado varchar(60)
set @Estado = (Select Estado from Mecánico where
                IDMecánico = @IdMecanico)

				if(@Estado = 'Habilitado')
				Begin
				update Mecánico set Estado = 'Deshabilitado'
				where IDMecánico =@IdMecanico
			    End
				Else
				Begin 
				update Mecánico set Estado = 'Habilitado'
				where IDMecánico =@IdMecanico
				End

	--			exec Cambio_Estado_Mecanico 2
		--		select * from Mecánico
--------------------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Cambio_Estado_Proveedor]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cambio_Estado_Proveedor] @IdProveedor int
as
Declare @Estado varchar(60)
set @Estado = (Select Estado from Proveedor where
                IdProveedor = @IdProveedor)

				if(@Estado = 'Habilitado')
				Begin
				update Proveedor set Estado = 'Deshabilitado'
				where IdProveedor = @IdProveedor
			    End
				Else
				Begin 
				update Proveedor set Estado = 'Habilitado'
				where IdProveedor = @IdProveedor
				End
GO
/****** Object:  StoredProcedure [dbo].[Crear_Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[Crear_Usuario]
	@FirstName varchar(80),
	@LastName varchar(80),
	@Telefono varchar(80),
	@username varchar(80),
	@contraseña varchar(80),
	@rol varchar(80)

	as 

	insert into Usuario(Usuario,Contrasenia,Rol,Estado) 
	values 
	(@username,ENCRYPTBYPASSPHRASE(@contraseña,@contraseña),@rol,'Habilitado')


	Declare @IdUsuario int
	set @IdUsuario = (select (MAX(IdUsuario)) from Usuario)
	insert into Colaborador(IdUsuario,PrimerNombre,PrimerApellido,Telefono) 
	values (@IdUsuario,@FirstName,@LastName,@Telefono)

	select 'Usuario creado' as Resultado
GO
/****** Object:  StoredProcedure [dbo].[Editar_Cliente]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Editar_Cliente]
	 @IdCliente int,
	 @primernombre varchar(15),
     @segundonombre varchar(15),
     @primerapellido varchar(15),
     @segundoapellido varchar(15),
	 @telefono varchar(20),
	 @correo varchar(40),
	 @direccion varchar(90)
	 
	 as
	 update Cliente  set 
	 [Primer Nombre] =  @primernombre,
	 [Segundo Nombre] = @segundonombre,
	 [Primer Apellido] = @primerapellido,
	 [Segundo Apellido]=  @segundoapellido,
	 Direccion = @direccion,
	 Correo = @correo,
	 Telefono = @telefono
	 where IDCliente = @IdCliente

	 -- exec Editar_Cliente  8,'Katherine','Odalys','Hernandez','Bravo','85674123','NohemiHer@gmail.com', 'Managua'
	 -- select * from Cliente
----------------------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Editar_Mecanico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Editar_Mecanico]
	 @idMecanico int,
	 @primernombre varchar(50),
     @segundonombre varchar(50),
     @primerapellido varchar(50),
     @segundoapellido varchar(50),
	 @especialidad varchar(60),
	 @telefono varchar(40),
	 @correo varchar(60),
	 @salario money,
	 @direccion varchar(60)
	 	 
	 as
	 update Mecánico set 
	 [Primer Nombre] =  @primernombre,
	 [Segundo Nombre] = @segundonombre,
	 [Primer Apellido] = @primerapellido,
	 [Segundo Apellido]=  @segundoapellido,
	 [Especialidad] = @especialidad,
	 Salario = @salario,
	 direccion = @direccion,
	 correo = @correo,
	 Telefono = @telefono
	 where IDMecánico = @idMecanico

	 /*exec Editar_Mecanico 6,'Juan','Carlos','Villanueva','Ortiz',
'82181554','Sistema Eléctrico','juanjc@gmail.com',10000,'Managua'*/
	 --select * from Mecánico
	 --------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Editar_Proveedor]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editar_Proveedor]
	 @IdProveedor int,
	 @primernombre varchar(15),
     @segundonombre varchar(15),
     @primerapellido varchar(15),
     @segundoapellido varchar(15),
	 @telefono varchar(20),
	 @correo varchar(40)
	 
	 as
	 update Proveedor  set 
	 [Primer Nombre] =  @primernombre,
	 [Segundo Nombre] = @segundonombre,
	 [Primer Apellido] = @primerapellido,
	 [Segundo Apellido]=  @segundoapellido,
	 Correo = @correo,
	 Telefono = @telefono
	 where IdProveedor = @IdProveedor
GO
/****** Object:  StoredProcedure [dbo].[Editar_Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[Editar_Repuesto]
		 @IdRepuesto int,
		 @Descripcion varchar(50),
		 @Marca varchar(50),
		 @Modelo varchar(50),
		 @Precio decimal,
		 @Cantidad int
	 as
		  update Repuesto set 
		  Descripcion=@Descripcion,
		  Marca = @Marca,
		  Modelo= @Modelo,
		  Precio = @Precio,
		  Cantidad =@Cantidad
		  Where IDRepuesto=@IdRepuesto
GO
/****** Object:  StoredProcedure [dbo].[Editar_Servicio]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create PROCEDURE [dbo].[Editar_Servicio]
	@IdServicio int ,
	@Descripcion varchar(50),
	@Precio decimal,
	@Tipo varchar(15)
   as
   update Servicio set
   Descripción = @Descripcion,
   Precio = @Precio,
   Tipo_Mantenimiento= @Tipo
   where IdServicio=@IdServicio
GO
/****** Object:  StoredProcedure [dbo].[Editar_Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Editar_Usuario] 
@IdUsuario int,
@IdColaborador int,
@PNombre varchar(50),
@SNombre varchar(50),
@PApellido varchar(50),
@SApellido varchar(50),
@Telefono varchar(50),
@UserName varchar(50)
,@Rol varchar(50)
AS
UPDATE Colaborador
SET PrimerNombre = @PNombre,
SegundoNombre = @SNombre,
PrimerApellido = @PApellido,
SegundoApellido = @SApellido,
Telefono = @Telefono
WHERE IdColaborador = @IdColaborador

UPDATE Usuario
SET Usuario = @UserName,
Rol = @Rol
WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[Editar_Vehiculo]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create proc [dbo].[Editar_Vehiculo]
	@Idvehiculo int,
	@IdCliente int,
	@Marca Varchar (20),
	@Modelo varchar(15),
	@Año int

	 AS

	 UPDATE Vehículo set 
	 IdCliente =  @IdCliente,
	 Marca = @Marca,
	 Modelo = @Modelo,
	 Año=@Año
	 where IdVehículo = @IdVehiculo

	-- exec Editar_Vehiculo 2,2,'Kawazaki','Z900',2020
GO
/****** Object:  StoredProcedure [dbo].[Escalar_Buscar_Colaborador]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Escalar_Buscar_Colaborador]  
@IdColaborador int
AS
SELECT
*
FROM Colaborador 
WHERE IdColaborador = @IdColaborador

GO
/****** Object:  StoredProcedure [dbo].[Escalar_Buscar_Mantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Escalar_Buscar_Mantenimiento] 
AS
SELECT
MAX(IdMantenimiento)
FROM Mantenimiento
GO
/****** Object:  StoredProcedure [dbo].[Escalar_Buscar_Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Escalar_Buscar_Usuario]
@IdUsuario int
AS
SELECT
*
FROM Usuario 
WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[Escalar_Buscar_Vehiculo]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Escalar_Buscar_Vehiculo]
@IdVehiculo int
AS
SELECT
c.IdCliente as [No Cliente],
c.[Primer Nombre] + ' ' + c.[Segundo Nombre] as Nombres,
c.[Primer Apellido] + ' ' + c.[Segundo Apellido] as Apellidos,
c.Telefono as Telefono,
c.Direccion as Direccion,
c.Correo as Correo,
c.Estado as Estado
FROM Vehículo v 
inner join Cliente c
on v.IdCliente = c.IdCliente
WHERE v.IdVehículo = @IdVehiculo
GO
/****** Object:  StoredProcedure [dbo].[Historial_Header]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Historial_Header]
@IdVehiculo int
AS
SELECT
c.[Primer Nombre] +' ' + c.[Primer Apellido]  as Cliente,
v.Marca as Marca,
v.Modelo as Modelo,
v.Año as Ano
FROM Mantenimiento m
inner join Vehículo v
on m.IdVehículo = v.IdVehículo
inner join Cliente c
on v.IdCliente = c.IdCliente
WHERE m.IdVehículo = @IdVehiculo
GO
/****** Object:  StoredProcedure [dbo].[Historial_Mantenimientos]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Historial_Mantenimientos] 
@IdVehiculo int
AS
SELECT
IdMantenimiento as IdMantenimiento,
Fecha_Ingreso as Entrada,
Fecha_Salida as Salida,
Estado as Estado
FROM Mantenimiento m
WHERE IdVehículo = @IdVehiculo
GO
/****** Object:  StoredProcedure [dbo].[Historial_Vehiculo_Servicios]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Historial_Vehiculo_Servicios] 
			@IdVehiculo int
			AS
			SELECT 
			s.IdServicio as IdServicio,
			v.IdVehículo as IdVehiculo,
			m.Fecha_Ingreso as [Fecha de entrada],
			m.Fecha_Salida as [Fecha de Salida],
			s.Descripción as Servicio,
			s.Tipo_Mantenimiento as Tipo,
			me.[Primer Nombre] + ' ' + me.[Primer Apellido] as [Nombre del Mecanico],
			dm.Precio as [Precio del Servicio]
			FROM
			Mantenimiento m
			inner join Detalle_Mantenimiento dm
			on m.IdMantenimiento = dm.IdMantenimiento
			inner join Vehículo v
			on m.IdVehículo = v.IdVehículo
			inner join Servicio s 
			on dm.IdServicio = s.IdServicio
			inner join Mecánico me
			on dm.IdMecánico = me.IdMecánico
			WHERE v.IdVehículo = @IdVehiculo
			GROUP BY S.Descripción,S.Tipo_Mantenimiento,me.[Primer Nombre] + ' ' + me.[Primer Apellido],v.IdVehículo,
			m.Fecha_Ingreso, m.Fecha_Salida, dm.Precio, s.IdServicio
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Cliente]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Insertar_Cliente]
	@primernombre varchar(15),
	@segundonombre varchar(15),
	@primerapellido varchar(15),
	@segundoapellido varchar(15),
	@telefono varchar(20),
	@correo varchar(40),
	@direccion varchar(90)
	
	 as
	 insert into Cliente ([Primer Nombre],[Segundo Nombre], [Primer Apellido], [Segundo Apellido],
	 Telefono, Correo, Direccion, Estado) 
	 values (@primernombre,@segundonombre,@primerapellido, @segundoapellido,
	 @telefono, @correo, @direccion, 'Habilitado' )

	 -- exec Insertar_Cliente 'Nohemi','Odalys','Hernandez','Bravo','85674123','NohemiHer@gmail.com', 'Managua'
	 -- select * from Cliente
----------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Colaborador]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create procedure [dbo].[Insertar_Colaborador]
	@Usuario int,
	@PrimerNombre varchar (30),
	@SegundoNombre varchar (30),
	@PrimerApellido varchar(30),
	@SegundoApellido varchar(30),
	@Direccion varchar (80),
	@Telefono varchar (30)
  as

  Insert into Colaborador (IdUsuario,[PrimerNombre],[SegundoNombre],[PrimerApellido],[SegundoApellido],Direccion,Telefono)
  values (@Usuario,@PrimerNombre,@SegundoNombre,@PrimerApellido,@SegundoApellido,@Direccion,@Telefono)

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Mantenimiento]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insertar_Mantenimiento]
			@IdVehiculo int,
			@IdMecanico int,
			@IdServicio int,
			@FechaEntrada datetime,
			@FechaSalida datetime
			
			AS

			DECLARE @IdMantenimiento int

			INSERT INTO Mantenimiento(IdVehículo,Fecha_Ingreso,Fecha_Salida,Estado)
			VALUES (@IdVehiculo, CONVERT(DATE,@FechaEntrada), CONVERT(DATE,@FechaSalida), 'En espera')
			SET @IdMantenimiento = (SELECT MAX(IdMantenimiento) FROM Mantenimiento)

			INSERT INTO Detalle_Mantenimiento(IdMantenimiento,IdMecánico,IdServicio,Precio)
			VALUES
			(@IdMantenimiento,@IdMecanico,@IdServicio, (SELECT Precio FROM Servicio WHERE IdServicio = @IdServicio))
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Mecánico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Insertar_Mecánico]
	@primernombre varchar(50),
	@segundonombre varchar(50),
	@primerapellido varchar(50),
    @segundoapellido varchar(50),
	@especialidad varchar(50),
	@telefono varchar(20),
	@salario money,
	@correo varchar(40),
	@direccion varchar(90)
	 
	 as
	 insert into Mecánico ([Primer Nombre],[Segundo Nombre],[Primer Apellido],[Segundo Apellido],
	 Especialidad,Telefono,Salario, Correo, Direccion, Estado)
	 values (@primernombre,@segundonombre,@primerapellido, @segundoapellido,
	 @especialidad,@telefono,@salario, @correo, @direccion, 'Habilitado' )

/*	 exec Insertar_Mecánico 'Michael','Fernando','Gonsalez','Ruiz',
'Ayudante','59745265',10000,'michaelgon@gmail.com','Rivas'*/
	--	select * from Mecánico
--------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Proveedor]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insertar_Proveedor]
	@primernombre varchar(15),
	@segundonombre varchar(15),
	@primerapellido varchar(15),
	@segundoapellido varchar(15),
	@telefono varchar(20),
	@correo varchar(40)
	
	 as
	 insert into Proveedor ([Primer Nombre],[Segundo Nombre], [Primer Apellido], [Segundo Apellido],
	 Telefono, Correo, Estado) 
	 values (@primernombre,@segundonombre,@primerapellido, @segundoapellido,
	 @telefono, @correo, 'Habilitado' )
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[Insertar_Repuesto]

 @marca varchar(50),
 @modelo varchar(50),
 @descripcion varchar(60),
 @cantidad int,
 @precio float
 

	 as
	 insert into Repuesto (Marca,Modelo,Descripcion,Cantidad,Precio) 
	 values ( @marca,@modelo,@descripcion,@cantidad ,@precio)

	 -- exec Insertar_Repuesto 'Toyota','QWS3','Bateria',100,700
	 -- select * from Repuesto
---------------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Servicio]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[Insertar_Servicio]
	@descripcion varchar(50),
	@precio decimal,
	@tipo varchar(15)
	 as
	 insert into Servicio (Descripción,Precio,Tipo_Mantenimiento) values (@descripcion,@precio,@tipo)

	 -- exec Insertar_Servicio 'Cambio de aceite',140,'ORDINARIO'
	 -- select * from Servicio
------------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[Insertar_Usuario]
  @Usuario varchar(60),
  @Contraseña varchar(60),
  @Rol varchar(60)
  as

  insert into Usuario(Usuario, Contrasenia, Rol, Estado)
  values
  (@Usuario, ENCRYPTBYPASSPHRASE(@contraseña, @Contraseña), @Rol,'Habilitado')

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Vehiculo]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Insertar_Vehiculo]	
	  @IdCliente int,
	  @Marca Varchar (50),
	   @Modelo varchar(50),
	   @Año int
	 as    

	 declare @contador int

	 select @contador = COUNT(IdCliente) from Cliente where IdCliente = @IdCliente
	 if(@contador >=1)--Se encontraron resultados
		 begin
			insert into Vehículo values (@IdCliente,@marca,@modelo,@año)
		 end
	 else
		 begin
			print 'El cliente ingresado no existe'
		 end

GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Cliente]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Mostrar_Cliente]
as
Select TOP 20
IDCliente  AS [ID Cliente],
[Primer Nombre] as [Primer Nombre],
[Segundo Nombre] as [Segundo Nombre],
[Primer Apellido] AS [Primer Apellido],
[Segundo Apellido] as [Segundo Apellido],
Telefono as  [Teléfono],
Correo as Correo,
Direccion as Dirección,
Estado as Estado
from Cliente

-- exec Mostrar_Cliente
-----------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Mantenimiento_Mecanico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Mostrar_Mantenimiento_Mecanico]
			
			AS
			SELECT
			m.IdMantenimiento as IdMantenimiento,
			v.Marca as Marca,
			v.Modelo as Modelo,
			m.Fecha_Ingreso as Entrada,
			m.Fecha_Salida as Salida
			FROM Mantenimiento m
			inner join Detalle_Mantenimiento dm
			on m.IdMantenimiento = dm.IdMantenimiento
			inner join Vehículo v
			on m.IdVehículo = v.IdVehículo
			GROUP BY m.IdMantenimiento,v.Marca,v.Modelo,m.Fecha_Ingreso,m.Fecha_Salida
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Mantenimientos]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Mostrar_Mantenimientos]
		AS
		SELECT  
		m.IdMantenimiento as IdMantenimiento,
		v.IdVehículo as IdVehiculo,
		c.[Primer Nombre] + ' ' + c.[Segundo Nombre] + ' ' + c.[Primer Apellido] + ' ' + c.[Segundo Apellido] Cliente,
		v.Marca as Marca,
		v.Modelo as Modelo,
		v.Año as Año,
		m.Fecha_Ingreso as [Fecha de Ingreso],
		m.Fecha_Salida as [Fecha de Salida],
		m.Estado as Estado
		FROM Mantenimiento m
		inner join Vehículo v
		on m.IdVehículo = v.IdVehículo
		inner join Cliente c
		on v.IdCliente = c.IdCliente
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Mantenimientos_Servicios]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Mostrar_Mantenimientos_Servicios]
			@IdMantenimiento int
			AS
			SELECT
			dm.IdDetalle_Mantenimiento as IdDetalleMantenimiento,
			m.IdMecánico as IdMecanico,
			m.[Primer Nombre] + ' ' + m.[Primer Apellido] as Mecanico,
			s.Descripción as Servicio,
			s.Tipo_Mantenimiento as [Tipo de Servicio],
			dm.Precio as [Precio del Servicio]
			FROM Detalle_Mantenimiento dm
			inner join Mecánico m
			on dm.IdMecánico= m.IdMecánico
			inner join Servicio s
			on dm.IdServicio = s.IdServicio
			WHERE IdMantenimiento = @IdMantenimiento
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Mecanico]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Mostrar_Mecanico]
as
Select top 20
IDMecánico  AS [ID Mecanico],
[Primer Nombre] as [Primer Nombre],
[Segundo Nombre] as [Segundo Nombre],
[Primer Apellido] AS [Primer Apellido],
[Segundo Apellido] as [Segundo Apellido],
Especialidad as Especialidad,
Telefono as  [Teléfono],
Correo as Correo,
Salario as Salario,
Direccion as Dirección,
Estado as Estado
from Mecánico

--select * from Mecánico
--exec Mostrar_Mecanico
--------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Proveedor]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_Proveedor]
as
Select TOP 20
IdProveedor  AS [ID Proveedor],
[Primer Nombre] as [Primer Nombre],
[Segundo Nombre] as [Segundo Nombre],
[Primer Apellido] AS [Primer Apellido],
[Segundo Apellido] as [Segundo Apellido],
Telefono as  [Teléfono],
Correo as Correo,
Estado as Estado
from Proveedor
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Mostrar_Repuesto]
as
SELECT TOP 20
	   [IDRepuesto] AS  [ID Repuesto]
      ,[Marca] as Marca
      ,[Modelo] as Modelo
      ,[Descripcion] as Descripción
      ,[Cantidad] as Cantidad
	  ,[Precio] as Precio
  FROM Repuesto
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Servicios]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Mostrar_Servicios]

as
Select top 20
c.IDServicio AS [ID Servicio],
c.Descripción as [Descripción],
c.Precio as [Precio],
c.Tipo_Mantenimiento  as [Tipo de Mantenimiento],
c.Estado as Estado
from Servicio c
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Servicios_Repuestos]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Mostrar_Servicios_Repuestos]
			@IdDetalleMantenimiento int
			AS
			SELECT
			r.Descripcion as Concepto,
			r.Marca as Marca,
			r.Modelo as Modelo,
			r.Precio as Precio,
			dr.Cantidad Cantidad
			FROM Detalle_Repuesto dr
			inner join Repuesto r
			on dr.IdRepuesto = r.IdRepuesto
			WHERE dr.IdDetalle_Mantenimiento= @IdDetalleMantenimiento
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Usuarios]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[Mostrar_Usuarios]
	as
	Select
	u.IdUsuario as IdUsuario,
	c.IdColaborador as IdColaborador,
	c.PrimerNombre as Nombre, 
	c.PrimerApellido as Apellido, 
	c.Telefono as Telefono,
	u.Rol as Rol,
	u.Estado as Estado
	from Usuario u 
	inner join Colaborador c 
	on c.IdUsuario = u.IdUsuario
	
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Vehiculo]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Mostrar_Vehiculo]
as
select TOP 20
v.IDVehículo as [ID Vehículo],
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]  as [Nombre Cliente],
v.Marca as Marca,
v.Modelo as Modelo,
v.año as Año
from Vehículo v
inner join Cliente c on c.IDCliente=v.IDCliente

--exec Mostrar_Vehiculo
---------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Recaudacion_Mantenimientos]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Recaudacion_Mantenimientos]
@Año int, @Mes int
AS
IF exists (
           SELECT 
           Fecha_Salida
           FROM Mantenimiento
           WHERE YEAR(Fecha_Salida) = @Año and MONTH(Fecha_Salida) = @Mes
           )
			SELECT 
			v.Marca as Marca,
			v.Modelo as Modelo,
			m.Fecha_Ingreso,
			m.Fecha_Salida,
			count(dm.IdServicio) as Servicio,
			isnull(SUM(dr.Cantidad),0) as Repuestos,
			isnull( SUM( dr.Cantidad * r.Precio) + SUM(dm.Precio) , SUM(dm.Precio))as TOTAL
			FROM Detalle_Repuesto dr
			inner join Repuesto r
			on dr.IdRepuesto = r.IdRepuesto
			inner join  Detalle_Mantenimiento dm
			on dr.IdDetalle_Mantenimiento = dm.IdDetalle_Mantenimiento
			inner join Mantenimiento m
			on dm.IdMantenimiento = m.IdMantenimiento
			inner join Vehículo v
			on m.IdVehículo = v.IdVehículo
			WHERE YEAR(m.Fecha_Salida) = @Año and MONTH(m.Fecha_Salida) = @Mes and m.Estado = 'Generado'
			GROUP BY dm.IdMantenimiento,v.Marca,v.Modelo,m.Fecha_Ingreso,m.Fecha_Salida --, dm.IdDetalleMantenimiento

ELSE
		SELECT 'Mes no encontrado'

GO
/****** Object:  StoredProcedure [dbo].[Recaudacion_Repuesto]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Recaudacion_Repuesto]
	@Año int, @Mes int
	as
	declare @total decimal
	set @total=(select sum((drs.Cantidad * rs.Precio)) from Detalle_Repuesto drs
	inner join Repuesto rs on rs.IdRepuesto = drs.IdRepuesto
	inner join Detalle_Mantenimiento dms on 
	dms.IdDetalle_Mantenimiento=drs.IdDetalle_Mantenimiento
	inner join Mantenimiento ms on 
	ms.IdMantenimiento=dms.IdMantenimiento
	where 
	ms.Estado = 'Generado' and YEAR(ms.Fecha_Salida) = @Año and MONTH(ms.Fecha_Salida) = @Mes
	)

	select 
	r.Descripcion ,
	r.Marca,
	r.Modelo,
	Count( dr.IdRepuesto)Aplicaciones,
	sum(dr.Cantidad * r.Precio) Recaudacion,

	cast( round (sum( ((dr.Cantidad * r.Precio) * 100)/@total),2) as varchar)+'%' as Porcentaje

	from Detalle_Repuesto dr 

	inner join Detalle_Mantenimiento dm on 
	dm.IdDetalle_Mantenimiento=dr.IdDetalle_Mantenimiento
	inner join Mantenimiento m on 
	m.IdMantenimiento=dm.IdMantenimiento
	inner join Repuesto r 
	on dr.IdRepuesto=r.IdRepuesto
	where 
	m.Estado = 'Generado' and YEAR(m.Fecha_Salida) = @Año and MONTH(m.Fecha_Salida) = @Mes
	group by  r.Descripcion,r.Marca,r.Modelo
GO
/****** Object:  StoredProcedure [dbo].[Recaudacion_Servicio]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Recaudacion_Servicio]
@Año int, @Mes int
AS
IF exists (
           SELECT 
           Fecha_Salida
           FROM Mantenimiento
           WHERE YEAR(Fecha_Salida) = @Año and MONTH(Fecha_Salida) = @Mes
           )
SELECT
s.IdServicio as IdServicio,
s.Descripción as Servicio,
s.Tipo_Mantenimiento as [Tipo de Mantenimiento],
COUNT(dm.IdServicio) as [Aplicaciones],
ROUND(SUM(dm.Precio),2) as [Total del servicio],
ROUND((SUM(dm.Precio) / 
                      (SELECT 
                      SUM(dm2.Precio) as TotalServicio
                      FROM Mantenimiento m2
                      inner join Detalle_Mantenimiento dm2
                      on m2.IdMantenimiento = dm2.IdMantenimiento
                      WHERE YEAR(m2.Fecha_Salida) = @Año and MONTH(m2.Fecha_Salida) = @Mes)) * 100
  ,2) as [% Total]FROM Detalle_Mantenimiento dm
inner join Servicio s
on dm.IdServicio = s.IdServicio
inner join Mantenimiento m
on dm.IdMantenimiento = m.IdMantenimiento
WHERE YEAR(m.Fecha_Salida) = @Año and MONTH(m.Fecha_Salida) = @Mes and m.Estado = 'Generado'
GROUP BY dm.IdMantenimiento, s.IdServicio, s.Descripción, s.Tipo_Mantenimiento

ELSE
BEGIN
   IF not exists (
           SELECT 
           Fecha_Salida
           FROM Mantenimiento
           WHERE YEAR(Fecha_Salida) = @Año 
           )
	BEGIN
	SELECT 'Año no encontrado' as Mensaje
	END
	ELSE
	BEGIN
	SELECT 'Mes no encontrado' as Mensaje
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Recibo_Detalle_Repuestos]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Recibo_Detalle_Repuestos] @IdMantenimiento int
AS
BEGIN
	SELECT
	r.IdRepuesto as Referencia,
	r.Descripcion as Descripcion,
	r.Marca as Marca,
	r.Modelo as Modelo,
	dr.Cantidad as Cantidad,
	r.Precio as C_Unitario,
	SUM(dr.Cantidad * r.Precio) as Importe
	FROM Detalle_Mantenimiento dm
	left join Detalle_Repuesto dr
	on dm.IDDetalle_Mantenimiento = dr.IDDetalle_Mantenimiento
	inner join Repuesto r
	on dr.IdRepuesto = r.IdRepuesto
	WHERE dm.IdMantenimiento = @IdMantenimiento
	GROUP BY r.IdRepuesto,  r.Descripcion, r.Marca, r.Modelo, dr.Cantidad, r.Precio
END
GO
/****** Object:  StoredProcedure [dbo].[Recibo_Detalle_Servicios]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Recibo_Detalle_Servicios]
@IdMantenimiento int
AS
BEGIN
	SELECT
	s.IdServicio as Referencia,
	s.Descripción as Descripcion,
	dm.Precio as Importe
	FROM Detalle_Mantenimiento dm
	inner join Servicio s
	on dm.IdServicio = s.IdServicio
	WHERE dm.IdMantenimiento = @IdMantenimiento
END
GO
/****** Object:  StoredProcedure [dbo].[Recibo_Header]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Recibo_Header]
@IdMantenimiento int

AS
BEGIN
	SELECT
	m.IdMantenimiento as IdRecibo,
	c.[Primer Nombre] + ' ' + c.[Primer Apellido] as Cliente,
	v.Marca as Marca,
	v.Modelo as Modelo,
	v.Año as Año,
	m.Fecha_Ingreso as Entrada,
	m.Fecha_Salida as Salida,
	GETDATE() as Impreso,
	dbo.Suma_Servicios(@IdMantenimiento) as TotalServicios,
	ISNULL(SUM(dr.Cantidad * r.Precio), 2) as TotalRepuestos,
	ROUND(dbo.Suma_Servicios(@IdMantenimiento) + ISNULL(SUM(dr.Cantidad * r.Precio), 2),2) as Total
	

	FROM Mantenimiento m
	inner join Vehículo v
	on m.IDVehículo = v.IDVehículo
	inner join Cliente c
	on v.IdCliente = c.IdCliente
	inner join Detalle_Mantenimiento dm
	on m.IdMantenimiento = dm.IdMantenimiento
	left join Detalle_Repuesto dr
	on dm.IDDetalle_Mantenimiento = dr.IDDetalle_Mantenimiento
	left join Repuesto r
	on dr.IDRepuesto = r.IDRepuesto
	WHERE m.IdMantenimiento = @IdMantenimiento
	GROUP BY m.IdMantenimiento, c.[Primer Nombre] + ' ' + c.[Primer Apellido], v.Marca, v.Modelo, v.Año, m.Fecha_Ingreso, m.Fecha_Salida
END
GO
/****** Object:  StoredProcedure [dbo].[Validar_Acceso]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[Validar_Acceso] @Usuario varchar(50), @Contraseña varchar(50)
AS
if exists (
           SELECT u2.Usuario FROM Usuario u2 WHERE u2.Usuario = @Usuario 
		   and CAST(DECRYPTBYPASSPHRASE(@Contraseña,u2.Contrasenia) as varchar(50)) = @Contraseña
		   and u2.Estado = 'Habilitado'
		   )
		   begin
   SELECT 'Acceso Exitoso' as Permiso,
   c.IdUsuario as IdUsuario,
   c.PrimerNombre + ' ' + c.PrimerApellido as Nombre,
   u.Rol as Rol FROM Usuario u
   inner join Colaborador c on c.IdUsuario = u.IdUsuario
   WHERE CAST(DECRYPTBYPASSPHRASE(@Contraseña, u.Contrasenia) as varchar(100)) = @Contraseña
   and u.Usuario = @Usuario and u.Estado = 'Habilitado'
   end
ELSE

   SELECT
   'Acceso Denegado' as Acceso
GO
/****** Object:  StoredProcedure [dbo].[Validar_Creacion_Usuario]    Script Date: 2/24/2023 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Validar_Creacion_Usuario]
@usuario varchar(50)

as
if exists (Select Usuario from Usuario where Usuario = @usuario)
Select 'Acceso Denegado' as Resultado
else
Select 'Acceso Exitoso' as Resultado
GO
USE [master]
GO
