USE [Servicios_de_mantenimiento]
GO

CREATE procedure Buscar_Clientes
@dato varchar (50)
as
select
c.IDCliente as  [ID Cliente],
c.[Primer Nombre] as [Primer Nombre],
c.[Segundo Nombre] as [Segundo Nombre],
c.[Primer Apellido] AS [Primer Apellido],
c.[Segundo Apellido] as [Segundo Apellido],
c.Telefono as  [Nº Teléfono],
c.Correo as Correo,
c.Direccion as Dirección
from Cliente c
where c.[Primer Nombre] like @dato +'%'
or c.[Segundo Nombre] like @dato +'%'
or c.[Primer Apellido] like @dato +'%'
or c.[Segundo Apellido]like @dato +'%'
-------------------------------------------------
CREATE procedure Buscar_Mecanico
@dato varchar (50)
as
select
c.IDMecánico as  [ID Mecánico],
c.[Primer Nombre] as [Primer Nombre],
c.[Segundo Nombre] as [Segundo Nombre],
c.[Primer Apellido] AS [Primer Apellido],
c.[Segundo Apellido] as [Segundo Apellido],
c.Telefono as  [Nº Teléfono],
c.Correo as Correo,
c.Direccion as Dirección
from Mecánico c
where c.[Primer Nombre] like @dato +'%'
or c.[Segundo Nombre] like @dato +'%'
or c.[Primer Apellido] like @dato +'%'
or c.[Segundo Apellido]like @dato +'%'
------------------------------------------------
CREATE procedure Buscar_Servicios
@dato varchar (50)
as
select
c.IDServicio AS [ID Servicio],
c.Descripción as [Descripción],
c.Precio as [Precio],
c.Tipo_Mantenimiento  as [Tipo de Mantenimiento]
from Servicio c
where c.Descripción like @dato +'%'
or c.Precio like @dato +'%'
or c.Tipo_Mantenimiento like @dato
---------------------------------------------------------
Create procedure Buscar_Vehiculo
@dato as Varchar (50)
as
select 
v.IDVehículo as [ID Vehículo],
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]  as [Nombre Cliente],
v.Marca as Marca,
v.Modelo as Modelo,
v.año as Año
from Vehículo v
inner join Cliente c on c.IDCliente=v.IDCliente
where 
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido] like @dato +'%'or
v.Marca like  @dato +  '%'
or v.Modelo like  @dato +  '%'
or v.Año like @dato+ '%'
-------------------------------------------------------------
CREATE procedure Insertar_Usuario
  @Usuario varchar(60),
  @Contraseña varchar(60),
  @Rol varchar(60)
  as

  insert into Usuario(usuario, contraseña, rol, estado)
  values
  (@Usuario, ENCRYPTBYPASSPHRASE(@contraseña, @Contraseña), @Rol,'Habilitado')
  -------------------------------------------------------------------------------
Create procedure Mostrar_Cliente
as
Select TOP 20
IDCliente  AS [ID Cliente],
[Primer Nombre] as [Primer Nombre],
[Segundo Nombre] as [Segundo Nombre],
[Primer Apellido] AS [Primer Apellido],
[Segundo Apellido] as [Segundo Apellido],
Telefono as  [Nº Teléfono],
Correo as Correo,
Direccion as Dirección,
Estado as Estado
from Cliente

-----------------------------------------------------------------------
Create procedure [dbo].[Mostrar_Mecanico]
as
Select top 20
IDMecánico  AS [ID Mecánico],
[Primer Nombre] as [Primer Nombre],
[Segundo Nombre] as [Segundo Nombre],
[Primer Apellido] AS [Primer Apellido],
[Segundo Apellido] as [Segundo Apellido],
Telefono as  [Nº Teléfono],
Correo as Correo,
Direccion as Dirección,
Estado as Estado
from Mecánico
--------------------------------------------------------------------
CREATE procedure Mostrar_Servicios

as
Select top 20
c.IDServicio AS [ID Servicio],
c.Descripción as [Descripción],
c.Precio as [Precio],
c.Tipo_Mantenimiento  as [Tipo de Mantenimiento]
from Servicio c
-----------------------------------------------------------------
CREATE procedure Mostrar_Vehiculo
as
select TOP 20
v.IDVehículo as [ID Vehículo],
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]  as [Nombre Cliente],
v.Marca as Marca,
v.Modelo as Modelo,
v.año as Año
from Vehículo v
inner join Cliente c on c.IDCliente=v.IDCliente
---------------------------------------------------------------------
CREATE procedure Mostrar_Repuesto
as
SELECT TOP 20
	   [IDRepuesto] AS  [ID Repuesto]
      ,[Marca] as Marca
      ,[Modelo] as Modelo
      ,[Descripcion] as Descripción
      ,[Cantidad] as Cantidad
  FROM Repuesto

------------------------------------------------------------------------
CREATE procedure Buscar_Repuesto
@dato varchar (60)
as
SELECT V.[IDRepuesto] AS  [ID Repuesto]
      ,V.[Marca] as Marca
      ,V.[Modelo] as Modelo
      ,V.[Descripcion] as Descripción
      ,V.[Cantidad] as Cantidad
  FROM Repuesto V
where v.Marca like  @dato +  '%'
or v.Modelo like  @dato +  '%'
or v.[Cantidad] like @dato + '%'

------------------------------------
Alter PROC [dbo].[Validar_Acceso] @Usuario varchar(50), @Contraseña varchar(50)
AS
if exists (
           SELECT
		   u2.Usuario
		   FROM Usuarios u2
		   WHERE
		   u2.Usuario = @Usuario 
		   and 
		   CAST(DECRYPTBYPASSPHRASE(@Contraseña,u2.Contrasena) as varchar(50)) = @Contraseña
		   and
		   u2.Estado = 'Habilitado'
		   )
   SELECT
   'Acceso Exitoso' as Permiso,
   c.IdUsuario as IdUsuario,
   c.PrimerNombre + ' ' + c.PrimerApellido as Nombre,
   u.Rol as Rol
   FROM Usuarios u
   inner join Colaborador c
   on c.IdUsuario = u.IdUsuario
   WHERE
   CAST(DECRYPTBYPASSPHRASE(@Contraseña, u.Contrasena) as varchar(100)) = @Contraseña
   and
   u.Usuario = @Usuario
   and
   u.Estado = 'Habilitado'

ELSE

   SELECT
   'Acceso Denegado' as Acceso

--Alter table Cliente
-- add Estado varchar(60)
--  go
-- update Cliente set Estado = 'Habilitado'

-- Alter table  Mecánico
-- add Estado varchar(60)
--  go
-- update Mecánico set Estado = 'Habilitado'
-----------------------------------------------------------------
Create procedure [dbo].[Cambio_Estado_Cliente] @IdCliente int
as
Declare @Estado varchar(25)
set @Estado = (Select Estado from Cliente where
                IdCliente = @IdCliente)

				if(@Estado = 'Habilitado')
				Begin
				update Cliente set Estado = 'Deshabilitado'
				where IdCliente = @IdCliente
			    End
				Else
				Begin 
				update Cliente set Estado = 'Habilitado'
				where IdCliente = @IdCliente
				End
----------------------------------------------------------------------------

Create procedure Insertar_Cliente
 @primernombre varchar(15),
  @segundonombre varchar(15),
   @primerapellido varchar(15),
    @segundoapellido varchar(15),
	 @direccion varchar(90),
	 @correo varchar(40),
	 @telefono varchar(20)
	 as
	 insert into Cliente values (@primernombre,@segundonombre,@primerapellido, @segundoapellido,
	    @direccion, @telefono, @correo, 'Habilitado' )

----------------------------------------------------------------------------------------
Create procedure Insertar_Mecánico
 @primernombre varchar(15),
  @segundonombre varchar(15),
   @primerapellido varchar(15),
    @segundoapellido varchar(15),
	 @direccion varchar(90),
	 @correo varchar(40),
	 @telefono varchar(20)
	 as
	 insert into Mecánico values (@primernombre,@segundonombre,@primerapellido, @segundoapellido,
	    @direccion, @telefono, @correo, 'Habilitado' )
--------------------------------------------------------------------------------------------
Create procedure Insertar_Servicio
 @descripcion varchar(50),
  @precio decimal,
   @tipo varchar(15)
	 as
	 insert into Servicio values (@descripcion,@precio,@tipo)
------------------------------------------------------------------------------------------------
Create procedure Insertar_Repuesto

 @marca varchar(15),
 @modelo varchar(15),
 @cantidad int,
 @descripcion varchar(50)

	 as
	 insert into Repuesto values ( @marca,@modelo,@cantidad ,@descripcion)
---------------------------------------------------------------------------------------------------
Create procedure [dbo].[Cambio_Estado_Mecanico] @IdMecanico int
as
Declare @Estado varchar(25)
set @Estado = (Select Estado from Mecánico where
                IDMecánico = @IdMecanico)

				if(@Estado = 'Habilitado')
				Begin
				update Mecánico set Estado = 'Deshabilitado'
				where IDMecánico =@IdMecanico
			    End
				Else
				Begin 
				update Mecánico set Estado = 'Habilitado'
				where IDMecánico =@IdMecanico
				End
--------------------------------------------------------------------------------------------------------
create procedure Editar_Cliente
	 @idCliente int,
	 @primernombre varchar(15),
     @segundonombre varchar(15),
     @primerapellido varchar(15),
     @segundoapellido varchar(15),
	 @direccion varchar(90),
	 @correo varchar(40),
	 @telefono varchar(20)
	 as
	 update Cliente  set 
	 [Primer Nombre] =  @primernombre,
	 [Segundo Nombre] = @segundonombre,
	 [Primer Apellido] = @primerapellido,
	 [Segundo Apellido]=  @segundoapellido,
	 direccion = @direccion,
	 correo = @correo,
	 Telefono = @telefono
	 where IDCliente = @idCliente

----------------------------------------------------------------------------------------------------------
create procedure Editar_Mecanico
	 @idMecanico int,
	 @primernombre varchar(15),
     @segundonombre varchar(15),
     @primerapellido varchar(15),
     @segundoapellido varchar(15),
	 @direccion varchar(90),
	 @correo varchar(40),
	 @telefono varchar(20)
	 as
	 update Mecánico set 
	 [Primer Nombre] =  @primernombre,
	 [Segundo Nombre] = @segundonombre,
	 [Primer Apellido] = @primerapellido,
	 [Segundo Apellido]=  @segundoapellido,
	 direccion = @direccion,
	 correo = @correo,
	 Telefono = @telefono
	 where IDMecánico = @idMecanico
	 --------------------------------------------------------------------------------------
	 Create procedure [dbo].[Insertar_Vehiculo]
 @NombreCliente varchar(240),
  @marca Varchar (20),
   @modelo varchar(15),
   @año int
	 as    
	 declare @IdCliente int 
	 set @IdCliente =(select c.IDCliente from Cliente C
	 where @NombreCliente = c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]	)
	 insert into Vehículo values (@IdCliente,@marca,@modelo,@año)

	------------------------------------------------------------------------------------

