USE [Servicios_de_mantenimiento]
GO
/****** Object:  StoredProcedure [dbo].[Recaudacion_Mantenimientos]    Script Date: 7/11/2022 9:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Recaudacion_Mantenimientos]
@Año int,
@Mes int
AS
begin
IF exists (
           SELECT 
           Fecha_Salida
           FROM Mantenimiento
           WHERE YEAR(Fecha_Salida) = @Año and MONTH(Fecha_Salida) = @Mes
           )
			SELECT 
			v.Marca as Marca,
			v.Modelo as Modelo,
			m.Fecha_Ingreso,
			m.Fecha_Salida,
			count(dm.IdServicio) as Servicio,
			isnull(SUM(dr.Cantidad),0) as Repuestos,
			isnull( SUM( dr.Cantidad * r.Precio) + SUM(dm.Precio) , SUM(dm.Precio))as TOTAL
			FROM Detalle_Repuesto dr
			inner join Repuesto r
			on dr.IdRepuesto = r.IdRepuesto
			inner join  Detalle_Mantenimiento dm
			on dr.IdDetalle_Mantenimiento = dm.IdDetalle_Mantenimiento
			inner join Mantenimiento m
			on dm.IdMantenimiento = m.IdMantenimiento
			inner join Vehículo v
			on m.IdVehículo = v.IdVehículo
			WHERE YEAR(m.Fecha_Salida) = @Año and MONTH(m.Fecha_Salida) = @Mes and m.Estado = 'Facturado'
			GROUP BY dm.IdMantenimiento,v.Marca,v.Modelo,m.Fecha_Ingreso,m.Fecha_Salida --, dm.IdDetalleMantenimiento

ELSE
		SELECT 'Mes no encontrado'
		end

		declare @idv int 
		
		 

		exec Insertar_Vehiculo 2,'Toyoyta','Yaris','2020'
		set @idv= (select MAX(IdVehículo) from Vehículo)
		exec Insertar_Mantenimiento @idv,'2020-12-03','2021-12-03',2,1
		Insert into Detalle_Repuesto (IdDetalle_Mantenimiento,IdRepuesto,Cantidad,Autorizacion)
		values ((select MAX(IdDetalle_Mantenimiento) from Detalle_Mantenimiento),1,1,'si')
		exec Recaudacion_Mantenimientos 2021,12
		
		
		update Mantenimiento set Estado = 'Facturado'
		where IdMantenimiento = (select MAX(IdMantenimiento) from Mantenimiento)
		
		

	select * from Cliente
	select * from Vehículo
	select * from Detalle_Mantenimiento
	select * from Detalle_Repuesto
	select * from Mantenimiento
	select * from Repuesto
		
		exec Recaudacion_Mantenimientos 2021,12
		