USE [Servicios_de_mantenimiento]

GO

create procedure Buscar_Clientes
@dato varchar (50)
as
select
c.IDCliente as  [ID Cliente],
c.[Primer Nombre] as [Primer Nombre],
c.[Segundo Nombre] as [Segundo Nombre],
c.[Primer Apellido] AS [Primer Apellido],
c.[Segundo Apellido] as [Segundo Apellido],
c.Telefono as  [Nº Teléfono],
c.Correo as Correo,
c.Direccion as Dirección,
c.Estado as Estado
from Cliente c
where c.[Primer Nombre] like @dato +'%'
or c.[Segundo Nombre] like @dato +'%'
or c.[Primer Apellido] like @dato +'%'
or c.[Segundo Apellido]like @dato +'%'
-------------------------------------------------
go

create procedure Buscar_Mecanico
@dato varchar (50)
as
select
me.IDMecánico as  [ID Mecánico],
me.[Primer Nombre] as [Primer Nombre],
me.[Segundo Nombre] as [Segundo Nombre],
me.[Primer Apellido] AS [Primer Apellido],
me.[Segundo Apellido] as [Segundo Apellido],
me.Telefono as  [Nº Teléfono],
me.Correo as Correo,
me.Direccion as Dirección,
me.Estado as Estado
from Mecánico me
where me.[Primer Nombre] like @dato +'%'
or me.[Segundo Nombre] like @dato +'%'
or me.[Primer Apellido] like @dato +'%'
or me.[Segundo Apellido]like @dato +'%'
------------------------------------------------

go

CREATE procedure Buscar_Servicios
@dato varchar (50)
as
select
c.IDServicio AS [ID Servicio],
c.Descripción as [Descripción],
c.Precio as [Precio],
c.Tipo_Mantenimiento  as [Tipo de Mantenimiento]
from Servicio c
where c.Descripción like @dato +'%'
or c.Precio like @dato +'%'
or c.Tipo_Mantenimiento like @dato
---------------------------------------------------------

go

Create procedure Buscar_Vehiculo
@dato as Varchar (50)
as
select 
v.IDVehículo as [ID Vehículo],
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]  as [Nombre Cliente],
v.Marca as Marca,
v.Modelo as Modelo,
v.año as Año
from Vehículo v
inner join Cliente c on c.IDCliente=v.IDCliente
where 
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido] like @dato +'%'or
v.Marca like  @dato +  '%'
or v.Modelo like  @dato +  '%'
or v.Año like @dato+ '%'
-------------------------------------------------------------
go



create procedure Insertar_Usuario
  @Usuario varchar(60),
  @Contraseña varchar(60),
  @Rol varchar(60)
  as

  insert into Usuario(Usuario, Contrasenia, Rol, Estado)
  values
  (@Usuario, ENCRYPTBYPASSPHRASE(@contraseña, @Contraseña), @Rol,'Habilitado')

  go

  exec Insertar_Usuario 'uni1','2022','Administrador'
  go
  exec Insertar_Usuario 'uni2','2021','Administrador'
  go
  exec Insertar_Usuario 'uni3','2020','Administrador'

  go

  create procedure [dbo].[Crear_Usuario]
	@FirstName varchar(80),
	@LastName varchar(80),
	@Telefono varchar(80),
	@username varchar(80),
	@contraseña varchar(80),
	@rol varchar(80)

	as 

	insert into Usuario(Usuario,Contrasenia,Rol,Estado) 
	values 
	(@username,ENCRYPTBYPASSPHRASE(@contraseña,@contraseña),@rol,'Habilitado')


	Declare @IdUsuario int
	set @IdUsuario = (select (MAX(IdUsuario)) from Usuario)
	insert into Colaborador(IdUsuario,PrimerNombre,PrimerApellido,Telefono) 
	values (@IdUsuario,@FirstName,@LastName,@Telefono)

	select 'Usuario creado' as Resultado


	-- exec Crear_Usuario 'Luis','Fernandez','87432354','Luisao','luis123','Administrador'
	-- select * from Usuario
	-- select * from Colaborador
  go

  create proc[dbo].[Cambiar_Estado_Usuario]
		@IdUsuario int
		AS
		IF exists (
				   SELECT * FROM Usuario
				   WHERE IdUsuario = @IdUsuario and Estado = 'Habilitado'
				   )
		UPDATE Usuario SET
		Estado = 'Deshabilitado'
		WHERE IdUsuario = @IdUsuario
		ELSE
		UPDATE Usuario SET
		Estado = 'Habilitado'
		WHERE IdUsuario = @IdUsuario
  go

  create proc [dbo].[Mostrar_Usuarios]
	as
	Select
	u.IdUsuario as IdUsuario,
	c.IdColaborador as IdColaborador,
	c.PrimerNombre as Nombre, 
	c.PrimerApellido as Apellido, 
	c.Telefono as Telefono,
	u.Rol as Rol,
	u.Estado as Estado
	from Usuario u 
	inner join Colaborador c 
	on c.IdUsuario = u.IdUsuario
	
go

create procedure [dbo].[Buscar_Usuario]
	@dato varchar(100)
	as
	Select
	c.PrimerNombre Nombre,
	c.PrimerApellido as Apellido,
	c.Telefono,
	u.Rol,
	u.Estado 
	from Usuario u
	inner join Colaborador c
	on c.IdUsuario = u.IdUsuario
	where c.PrimerNombre like @dato + '%' 
	or c.PrimerApellido like @dato + '%' 
	or c.Telefono like @dato + '%' 
	or u.Rol like @dato + '%' 
	or u.Estado  like @dato + '%' 

go

  create procedure Insertar_Colaborador
	@Usuario int,
	@PrimerNombre varchar (30),
	@SegundoNombre varchar (30),
	@PrimerApellido varchar(30),
	@SegundoApellido varchar(30),
	@Direccion varchar (80),
	@Telefono varchar (30)
  as

  Insert into Colaborador (IdUsuario,[PrimerNombre],[SegundoNombre],[PrimerApellido],[SegundoApellido],Direccion,Telefono)
  values (@Usuario,@PrimerNombre,@SegundoNombre,@PrimerApellido,@SegundoApellido,@Direccion,@Telefono)

  go

  exec Insertar_Colaborador 1,'Edwin','Ricardo','Lopez','Garcia','Managua','655763456'
  go
  exec Insertar_Colaborador 2,'Bismark','Steven','Garcia','Torunio','Masaya','855578456'
  go
  exec Insertar_Colaborador 3,'Mayor','de Jesus','Parramo','Lacayo','Managua','955723456'

  /*select * from Colaborador
  select * from Usuario*/

  -------------------------------------------------------------------------------

  go

create procedure Mostrar_Cliente
as
Select TOP 20
IDCliente  AS [ID Cliente],
[Primer Nombre] as [Primer Nombre],
[Segundo Nombre] as [Segundo Nombre],
[Primer Apellido] AS [Primer Apellido],
[Segundo Apellido] as [Segundo Apellido],
Telefono as  [Teléfono],
Correo as Correo,
Direccion as Dirección,
Estado as Estado
from Cliente

-- exec Mostrar_Cliente
-----------------------------------------------------------------------

go

create procedure [dbo].[Mostrar_Mecanico]
as
Select top 20
IDMecánico  AS [ID Mecanico],
[Primer Nombre] as [Primer Nombre],
[Segundo Nombre] as [Segundo Nombre],
[Primer Apellido] AS [Primer Apellido],
[Segundo Apellido] as [Segundo Apellido],
Especialidad as Especialidad,
Telefono as  [Teléfono],
Correo as Correo,
Salario as Salario,
Direccion as Dirección,
Estado as Estado
from Mecánico

--select * from Mecánico
--exec Mostrar_Mecanico
--------------------------------------------------------------------

go

CREATE procedure Mostrar_Servicios

as
Select top 20
c.IDServicio AS [ID Servicio],
c.Descripción as [Descripción],
c.Precio as [Precio],
c.Tipo_Mantenimiento  as [Tipo de Mantenimiento]
from Servicio c

--exec Mostrar_Servicios
-----------------------------------------------------------------

go

CREATE procedure Mostrar_Vehiculo
as
select TOP 20
v.IDVehículo as [ID Vehículo],
c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]  as [Nombre Cliente],
v.Marca as Marca,
v.Modelo as Modelo,
v.año as Año
from Vehículo v
inner join Cliente c on c.IDCliente=v.IDCliente

--exec Mostrar_Vehiculo
---------------------------------------------------------------------

go

create procedure Mostrar_Repuesto
as
SELECT TOP 20
	   [IDRepuesto] AS  [ID Repuesto]
      ,[Marca] as Marca
      ,[Modelo] as Modelo
      ,[Descripcion] as Descripción
      ,[Cantidad] as Cantidad
	  ,[Precio] as Precio
  FROM Repuesto

-- exec Mostrar_Repuesto
------------------------------------------------------------------------

go

create procedure Buscar_Repuesto
@dato varchar (60)
as
SELECT V.[IDRepuesto] AS  [ID Repuesto]
      ,V.[Marca] as Marca
      ,V.[Modelo] as Modelo
      ,V.[Descripcion] as Descripción
      ,V.[Cantidad] as Cantidad
	  ,V.[Precio] as Precio
  FROM Repuesto V
where v.Marca like  @dato +  '%'
or v.Modelo like  @dato +  '%'
or v.[Cantidad] like @dato + '%'

--exec Buscar_Repuesto 'Yama'
------------------------------------

go

create PROC [dbo].[Validar_Acceso] @Usuario varchar(50), @Contraseña varchar(50)
AS
if exists (
           SELECT u2.Usuario FROM Usuario u2 WHERE u2.Usuario = @Usuario 
		   and CAST(DECRYPTBYPASSPHRASE(@Contraseña,u2.Contrasenia) as varchar(50)) = @Contraseña
		   and u2.Estado = 'Habilitado'
		   )
   SELECT 'Acceso Exitoso' as Permiso,
   c.IdUsuario as IdUsuario,
   c.PrimerNombre + ' ' + c.PrimerApellido as Nombre,
   u.Rol as Rol FROM Usuario u
   inner join Colaborador c on c.IdUsuario = u.IdUsuario
   WHERE CAST(DECRYPTBYPASSPHRASE(@Contraseña, u.Contrasenia) as varchar(100)) = @Contraseña
   and u.Usuario = @Usuario and u.Estado = 'Habilitado'

ELSE

   SELECT
   'Acceso Denegado' as Acceso

   /*select * from Usuario
   select * from Colaborador
   exec Validar_Acceso 'Edwin','2020'*/
-----------------------------------------------------------------

go

create PROCEDURE [dbo].[Validar_Creacion_Usuario]
@usuario varchar(50)

as
if exists (Select Usuario from Usuario where Usuario = @usuario)
Select 'Acceso Denegado' as Resultado
else
Select 'Acceso Exitoso' as Resultado

--exec Validar_Creacion_Usuario 'Edwin'
go

Create procedure [dbo].[Cambio_Estado_Cliente] @IdCliente int
as
Declare @Estado varchar(60)
set @Estado = (Select Estado from Cliente where
                IdCliente = @IdCliente)

				if(@Estado = 'Habilitado')
				Begin
				update Cliente set Estado = 'Deshabilitado'
				where IdCliente = @IdCliente
			    End
				Else
				Begin 
				update Cliente set Estado = 'Habilitado'
				where IdCliente = @IdCliente
				End

				--exec dbo.Cambio_Estado_Cliente 8
				--select * from Cliente
----------------------------------------------------------------------------

go

create procedure Insertar_Cliente
	@primernombre varchar(15),
	@segundonombre varchar(15),
	@primerapellido varchar(15),
	@segundoapellido varchar(15),
	@telefono varchar(20),
	@correo varchar(40),
	@direccion varchar(90)
	
	 as
	 insert into Cliente ([Primer Nombre],[Segundo Nombre], [Primer Apellido], [Segundo Apellido],
	 Telefono, Correo, Direccion, Estado) 
	 values (@primernombre,@segundonombre,@primerapellido, @segundoapellido,
	 @telefono, @correo, @direccion, 'Habilitado' )

	 -- exec Insertar_Cliente 'Nohemi','Odalys','Hernandez','Bravo','85674123','NohemiHer@gmail.com', 'Managua'
	 -- select * from Cliente
----------------------------------------------------------------------------------------

go

create procedure Insertar_Mecánico
	@primernombre varchar(50),
	@segundonombre varchar(50),
	@primerapellido varchar(50),
    @segundoapellido varchar(50),
	@especialidad varchar(50),
	@telefono varchar(20),
	@salario money,
	@correo varchar(40),
	@direccion varchar(90)
	 
	 as
	 insert into Mecánico ([Primer Nombre],[Segundo Nombre],[Primer Apellido],[Segundo Apellido],
	 Especialidad,Telefono,Salario, Correo, Direccion, Estado)
	 values (@primernombre,@segundonombre,@primerapellido, @segundoapellido,
	 @especialidad,@telefono,@salario, @correo, @direccion, 'Habilitado' )

/*	 exec Insertar_Mecánico 'Michael','Fernando','Gonsalez','Ruiz',
'Ayudante','59745265',10000,'michaelgon@gmail.com','Rivas'*/
	--	select * from Mecánico
--------------------------------------------------------------------------------------------

go

Create procedure Insertar_Servicio
	@descripcion varchar(50),
	@precio decimal,
	@tipo varchar(15)
	 as
	 insert into Servicio (Descripción,Precio,Tipo_Mantenimiento) values (@descripcion,@precio,@tipo)

	 -- exec Insertar_Servicio 'Cambio de aceite',140,'ORDINARIO'
	 -- select * from Servicio
------------------------------------------------------------------------------------------------

go

Create procedure Insertar_Repuesto

 @marca varchar(50),
 @modelo varchar(50),
 @descripcion varchar(60),
 @cantidad int,
 @precio float
 

	 as
	 insert into Repuesto (Marca,Modelo,Descripcion,Cantidad,Precio) 
	 values ( @marca,@modelo,@descripcion,@cantidad ,@precio)

	 -- exec Insertar_Repuesto 'Toyota','QWS3','Bateria',100,700
	 -- select * from Repuesto
---------------------------------------------------------------------------------------------------

go

Create procedure [dbo].[Cambio_Estado_Mecanico] @IdMecanico int
as
Declare @Estado varchar(60)
set @Estado = (Select Estado from Mecánico where
                IDMecánico = @IdMecanico)

				if(@Estado = 'Habilitado')
				Begin
				update Mecánico set Estado = 'Deshabilitado'
				where IDMecánico =@IdMecanico
			    End
				Else
				Begin 
				update Mecánico set Estado = 'Habilitado'
				where IDMecánico =@IdMecanico
				End

	--			exec Cambio_Estado_Mecanico 2
		--		select * from Mecánico
--------------------------------------------------------------------------------------------------------

go

create procedure Editar_Cliente
	 @IdCliente int,
	 @primernombre varchar(15),
     @segundonombre varchar(15),
     @primerapellido varchar(15),
     @segundoapellido varchar(15),
	 @telefono varchar(20),
	 @correo varchar(40),
	 @direccion varchar(90)
	 
	 as
	 update Cliente  set 
	 [Primer Nombre] =  @primernombre,
	 [Segundo Nombre] = @segundonombre,
	 [Primer Apellido] = @primerapellido,
	 [Segundo Apellido]=  @segundoapellido,
	 Direccion = @direccion,
	 Correo = @correo,
	 Telefono = @telefono
	 where IDCliente = @IdCliente

	 -- exec Editar_Cliente  8,'Katherine','Odalys','Hernandez','Bravo','85674123','NohemiHer@gmail.com', 'Managua'
	 -- select * from Cliente
----------------------------------------------------------------------------------------------------------

go

create procedure Editar_Mecanico
	 @idMecanico int,
	 @primernombre varchar(50),
     @segundonombre varchar(50),
     @primerapellido varchar(50),
     @segundoapellido varchar(50),
	 @especialidad varchar(60),
	 @telefono varchar(40),
	 @correo varchar(60),
	 @salario money,
	 @direccion varchar(60)
	 	 
	 as
	 update Mecánico set 
	 [Primer Nombre] =  @primernombre,
	 [Segundo Nombre] = @segundonombre,
	 [Primer Apellido] = @primerapellido,
	 [Segundo Apellido]=  @segundoapellido,
	 [Especialidad] = @especialidad,
	 Salario = @salario,
	 direccion = @direccion,
	 correo = @correo,
	 Telefono = @telefono
	 where IDMecánico = @idMecanico

	 /*exec Editar_Mecanico 6,'Juan','Carlos','Villanueva','Ortiz',
'82181554','Sistema Eléctrico','juanjc@gmail.com',10000,'Managua'*/
	 --select * from Mecánico
	 --------------------------------------------------------------------------------------

	 go

	 create procedure [dbo].[Insertar_Vehiculo]
	/*@NombreCliente varchar(240),
	@marca Varchar (20),
	@modelo varchar(15),
	@año int

	 as    
	 declare @IdCliente int 
	 set @IdCliente =(select c.IDCliente from Cliente C
	 where @NombreCliente = c.[Primer Nombre]+' '+c.[Segundo Nombre] +' ' +C.[Primer Apellido]+' ' +c.[Segundo Apellido]	)
	 insert into Vehículo values (@IdCliente,@marca,@modelo,@año)*/

	  @IdCliente int,
	  @Marca Varchar (50),
	   @Modelo varchar(50),
	   @Año int
	 as    

	 insert into Vehículo values (@IdCliente,@marca,@modelo,@año)

	 -- select * from Vehículo
	 --select * from Cliente
	 --exec Insertar_Vehiculo 'Juan José Barrios Canales','Toyota','Yaris','2020'
	 --exec Insertar_Vehiculo 1,'Toyota','Yaris',2020
	------------------------------------------------------------------------------------
	
	go

	create proc [dbo].[Editar_Vehiculo]
	@Idvehiculo int,
	@IdCliente int,
	@Marca Varchar (20),
	@Modelo varchar(15),
	@Año int

	 AS

	 UPDATE Vehículo set 
	 IdCliente =  @IdCliente,
	 Marca = @Marca,
	 Modelo = @Modelo,
	 Año=@Año
	 where IdVehículo = @IdVehiculo

	-- exec Editar_Vehiculo 2,2,'Kawazaki','Z900',2020

	go

 create PROCEDURE [dbo].[Editar_Servicio]
	@IdServicio int ,
	@Descripcion varchar(50),
	@Precio decimal,
	@Tipo varchar(15)
   as
   update Servicio set
   Descripción = @Descripcion,
   Precio = @Precio,
   Tipo_Mantenimiento= @Tipo
   where IdServicio=@IdServicio

   go

    create procedure [dbo].[Editar_Repuesto]
		 @IdRepuesto int,
		 @Descripcion varchar(50),
		 @Marca varchar(50),
		 @Modelo varchar(50),
		 @Precio decimal,
		 @Cantidad int
	 as
		  update Repuesto set 
		  Descripcion=@Descripcion,
		  Marca = @Marca,
		  Modelo= @Modelo,
		  Precio = @Precio,
		  Cantidad =@Cantidad
		  Where IDRepuesto=@IdRepuesto

		  --select * from Repuesto
		
		go

		create proc [dbo].[Mostrar_Mantenimientos]
		AS
		SELECT  
		m.IdMantenimiento as IdMantenimiento,
		v.IdVehículo as IdVehiculo,
		c.[Primer Nombre] + ' ' + c.[Segundo Nombre] + ' ' + c.[Primer Apellido] + ' ' + c.[Segundo Apellido] Cliente,
		v.Marca as Marca,
		v.Modelo as Modelo,
		v.Año as Año,
		m.Fecha_Ingreso as [Fecha de Ingreso],
		m.Fecha_Salida as [Fecha de Salida],
		m.Estado as Estado
		FROM Mantenimiento m
		inner join Vehículo v
		on m.IdVehículo = v.IdVehículo
		inner join Cliente c
		on v.IdCliente = c.IdCliente

		-- exec Mostrar_Mantenimientos
		go

		create proc [dbo].[Buscar_Mantenimiento]
		@dato varchar(100)
		AS
		SELECT
		m.IdMantenimiento as IdMantenimiento,
		v.IdVehículo as IdVehiculo,
		c.[Primer Nombre] + ' ' + c.[Segundo Nombre] + ' ' + c.[Primer Apellido] + ' ' + c.[Segundo Apellido] as Cliente,
		v.Marca as Marca,
		v.Modelo as Modelo,
		m.Fecha_Ingreso as Entrada,
		m.Fecha_Salida as Salida,
		m.Estado as Estado
		FROM Mantenimiento m
		inner join Vehículo v
		on m.IdVehículo = v.IdVehículo
		inner join Cliente c
		on v.IdCliente = c.IdCliente
		WHERE (c.[Primer Nombre] + ' ' + c.[Segundo Nombre] + ' ' + c.[Primer Apellido] + ' ' + c.[Segundo Apellido]) like @dato + '%'
		   or c.Telefono like @dato + '%'
		   or v.Marca like @dato + '%'
		   or v.Modelo like @dato + '%'

		   go

		create proc [dbo].[Insertar_Mantenimiento]
			@IdVehiculo int,
			@FechaEntrada datetime,
			@FechaSalida datetime,
			@IdMecanico int,
			@IdServicio int
			AS

			DECLARE @IdMantenimiento int

			INSERT INTO Mantenimiento(IdVehículo,Fecha_Ingreso,Fecha_Salida,Estado)
			VALUES (@IdVehiculo, CONVERT(DATE,@FechaEntrada), CONVERT(DATE,@FechaSalida), 'En espera')
			SET @IdMantenimiento = (SELECT MAX(IdMantenimiento) FROM Mantenimiento)

			INSERT INTO Detalle_Mantenimiento(IdMantenimiento,IdMecánico,IdServicio,Precio)
			VALUES
			(@IdMantenimiento,@IdMecanico,@IdServicio, (SELECT Precio FROM Servicio WHERE IdServicio = @IdServicio))

			go

			create proc [dbo].[Asignar_Servicio]
			@IdMantenimiento int,
			@IdMecanico int,
			@IdServicio int
			AS
			INSERT INTO Detalle_Mantenimiento(IdMantenimiento,IdMecánico,IdServicio,Precio)
			VALUES
			(@IdMantenimiento,@IdMecanico,@IdServicio, (SELECT Precio FROM Servicio WHERE IdServicio = @IdServicio))

			go
	
			create proc [dbo].[Historial_Vehiculo_Servicios] 
			@IdVehiculo int
			AS
			SELECT 
			s.IdServicio as IdServicio,
			v.IdVehículo as IdVehiculo,
			m.Fecha_Ingreso as [Fecha de entrada],
			m.Fecha_Salida as [Fecha de Salida],
			s.Descripción as Servicio,
			s.Tipo_Mantenimiento as Tipo,
			me.[Primer Nombre] + ' ' + me.[Primer Apellido] as [Nombre del Mecanico],
			dm.Precio as [Precio del Servicio]
			FROM
			Mantenimiento m
			inner join Detalle_Mantenimiento dm
			on m.IdMantenimiento = dm.IdMantenimiento
			inner join Vehículo v
			on m.IdVehículo = v.IdVehículo
			inner join Servicio s 
			on dm.IdServicio = s.IdServicio
			inner join Mecánico me
			on dm.IdMecánico = me.IdMecánico
			WHERE v.IdVehículo = @IdVehiculo
			GROUP BY S.Descripción,S.Tipo_Mantenimiento,me.[Primer Nombre] + ' ' + me.[Primer Apellido],v.IdVehículo,
			m.Fecha_Ingreso, m.Fecha_Salida, dm.Precio, s.IdServicio

			go

			create proc [dbo].[Mostrar_Mantenimiento_Mecanico]
			@IdMecanico int 
			AS
			SELECT
			m.IdMantenimiento as IdMantenimiento,
			v.Marca as Marca,
			v.Modelo as Modelo,
			m.Fecha_Ingreso as Entrada,
			m.Fecha_Salida as Salida
			FROM Mantenimiento m
			inner join Detalle_Mantenimiento dm
			on m.IdMantenimiento = dm.IdMantenimiento
			inner join Vehículo v
			on m.IdVehículo = v.IdVehículo
			WHERE dm.IdMecánico = @IdMecanico
			GROUP BY m.IdMantenimiento,v.Marca,v.Modelo,m.Fecha_Ingreso,m.Fecha_Salida

			go

			create proc [dbo].[Mostrar_Mantenimientos_Servicios]
			@IdMantenimiento int
			AS
			SELECT
			dm.IdDetalle_Mantenimiento as IdDetalleMantenimiento,
			m.IdMecánico as IdMecanico,
			m.[Primer Nombre] + ' ' + m.[Primer Apellido] as Mecanico,
			s.Descripción as Servicio,
			s.Tipo_Mantenimiento as [Tipo de Servicio],
			dm.Precio as [Precio del Servicio]
			FROM Detalle_Mantenimiento dm
			inner join Mecánico m
			on dm.IdMecánico= m.IdMecánico
			inner join Servicio s
			on dm.IdServicio = s.IdServicio
			WHERE IdMantenimiento = @IdMantenimiento

			go

			create proc [dbo].[Mostrar_Servicios_Repuestos]
			@IdDetalleMantenimiento int
			AS
			SELECT
			r.Descripcion as Concepto,
			r.Marca as Marca,
			r.Modelo as Modelo,
			r.Precio as Precio,
			dr.Cantidad Cantidad
			FROM Detalle_Repuesto dr
			inner join Repuesto r
			on dr.IdRepuesto = r.IdRepuesto
			WHERE dr.IdDetalle_Mantenimiento= @IdDetalleMantenimiento

			go

			create proc [dbo].[Asignar_Repuesto]
			@IdDetalleMantenimiento int,
			@IdRepuesto int,
			@Cantidad int
			AS
			INSERT INTO Detalle_Repuesto(IdDetalle_Mantenimiento,IdRepuesto,Cantidad)
			VALUES(@IdDetalleMantenimiento,@IdRepuesto,@Cantidad)